name: Integration Test

on:
  pull_request:
  push:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out source code
        uses: actions/checkout@v3

      - name: Install nix
        uses: cachix/install-nix-action@v19
        with:
          install_url: https://releases.nixos.org/nix/nix-2.13.3/install

      - name: Set up cachix
        uses: cachix/cachix-action@v12
        with:
          name: holochain-ci

      - name: Cache test zome build
        uses: actions/cache@v3
        if: always()
        env:
          cache-name: test-zome
        with:
          path: |
            .cargo
            test/e2e/fixture/zomes/foo/target
            test/e2e/fixture2/coordinator2/target
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Cargo.lock') }}

      - name: Build Nix packages
        run: nix develop -c $SHELL -c "echo Nix packages built"

      - name: Build test fixture
        run: nix develop -c $SHELL -c "./build-fixture.sh"

      - name: Install JS packages
        run: nix develop -c $SHELL -c "npm ci"

      - name: Run tests
        run: nix develop -c $SHELL -c "npm t"

      - name: Setup tmate session if a previous step failed
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 10
