name: Test

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Check out source code
        uses: actions/checkout@v3

      - name: Install nix
        uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            experimental-features = flakes nix-command

      - name: Set up cachix
        uses: cachix/cachix-action@v10
        with:
          name: holochain-ci

      - name: Cache test zome build
        uses: actions/cache@v3
        env:
          cache-name: cache-test-zome
        with:
          path: |
            .cargo
            target
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Cargo.lock') }}

      - name: Run all tests
        id: build-and-test
        run: nix develop -c './run-test.sh'

      - name: Setup tmate session if build and test run failed
        if: steps.build-and-test.outcome == 'failure'
        uses: mxschmitt/action-tmate@v3
