name: Test

on:
  pull_request:
  push:
    branches:
      - "develop"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node: [14.x, 16.x]

    steps:
      - name: Check out source code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-21.11

      - name: Set up cachix
        uses: cachix/cachix-action@v10
        with:
          name: holochain-ci

      - name: Cache test zome build
        uses: actions/cache@v3
        env:
          cache-name: cache-test-zome
        with:
          path: |
            .cargo
            target
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Cargo.lock') }}

      - name: Run all tests
        id: build-and-test
        run: nix-shell --run './run-test.sh'

      - name: Setup tmate session if build and test run failed
        if: steps.build-and-test.outcome == 'failure'
        uses: mxschmitt/action-tmate@v3
